.custom-popover-vendor.bs-popover-top {
  border: 2px solid #3D4957 !important;
}
.custom-popover-vendor.bs-popover-top .popover-arrow::before {
  border-top-color: #3D4957 !important;
  border-width: 8px 12px 0 12px !important;
  top: -8px !important;
}
.custom-popover-vendor.bs-popover-top .popover-arrow::after {
  border-top-color: #fff !important;
  border-width: 7px 11px 0 11px !important;
  top: -7px !important;
}
