input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.input-group:focus-within {
    box-shadow: 0 0 3px 3px #FFCB02;
    border-radius: 0.6rem;
}

.input-regis:focus-within {
    box-shadow: 0 0 3px 3px #FFCB02;
    border-radius: 0.5rem;
}