.reveal-step-enter {
    clip-path: inset(0 0 99% 0);
    opacity: 1;
}

.reveal-step-enter-active {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
    transition: clip-path 600ms ease-out, opacity 600ms ease-out;
}

.reveal-step-exit {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
}

.reveal-step-exit-active {
    clip-path: inset(0 0 99% 0);
    opacity: 1;
    transition: clip-path 600ms ease-in, opacity 600ms ease-in;
}